@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
fieldset {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  border-color: #ffffff45;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;

  box-sizing: border-box;
}
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.9);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.9);
}
button {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  padding: 0.25rem;
  border-color: #ffffff45;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.9);
}
.arrowBtn {
  border-radius: 50%;
  background: #ffffff45;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
button.arrowBtn svg {
  width: 25px !important;
  height: 25px;
}
.arrowBtn:hover {
  background: #33bb1163;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d364c;
  padding: 20px;
}
.header_wspase {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_icon-hamburger {
  color: rgba(255, 255, 255, 0.27);
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
}
.nav_item {
  color: rgba(255, 255, 255, 0.27);
  text-decoration: none;
  padding: 5px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.27);
}
.nav_item:last-of-type {
  border-color: transparent;
}
.nav_item:hover {
  color: #47b719;
}

/* user-profile */
.user-profile {
  position: relative;
}
.user-profile_avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4dd0e1;
  padding: 5px;
}
.user-profile_avatar__image {
  width: 100%;
}
.user-profile_dropdown-menu {
  position: absolute;
  background: #fff;
  padding: 20px;
  top: 50px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  right: 0;
  height: 0;
  display: none;
}
.user-profile_dropdown-menu--open {
  height: 40px;
  display: block;
  transition: height 4s ease;
}
/* main */
main {
  position: relative;
  flex: 1;
}

/* left-panel */
.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d364c;
  width: 220px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 0.5s ease;
  box-shadow: 4px 0 22px -3px #000000a6;
}
.left-panel.open {
  left: 0%;
}
.left-panel.close {
  left: -100%;
}

/* left panel navigation */
.left-nav {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.left-nav_item,
.left-nav_item > a {
  color: rgba(255, 255, 255, 0.27);
  text-decoration: none;
  padding: 5px 20px;
  margin: 10px 0;
}
.left-nav_item:last-of-type {
  border-color: transparent;
}
.left-nav_item:hover,
.left-nav_item--with-dropdown:hover > a {
  color: #47b719;
}

.left-nav-2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgb(28, 54, 76);
  position: absolute;
  right: -169px;
  top: 0;
  height: 100%;
  transition: transform 0.4s ease, right 0.7s ease, opacity 0.3s ease;
  box-shadow: inset 23px 0 33px -27px #000000a6;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}
.left-nav-2_item {
  color: rgba(255, 255, 255, 0.712);
  text-decoration: none;
  padding: 5px;
}

.open + .dropdown-menu {
  transform: rotateY(0deg);
  opacity: 1;
  right: -169px;
}
svg {
  transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
}
.open > svg {
  transform: rotate(180deg);
  transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
}
.left-nav_item__btn {
  cursor: pointer;
  float: right;
  width: 10px;
}

/* slider */
.silder {
  position: relative;
}
.silder:hover .silder_btn:not(:disabled) {
  opacity: 1;
  top: 50%;
  transition: all 0.5s ease;
}
.silder_btn {
  position: absolute;
  top: 30%;
  transform: translateY(50%);
  z-index: 1;
  opacity: 0;
}
.silder_btn--left {
  left: 0;
}
.silder_btn--right {
  right: 0;
}
.slider_wraper {
  position: relative;
  height: 30vw;
  overflow: hidden;
}
.slider_bgImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: 50% 20%;
  background-size: cover;
  transition: all 0.5s ease;
}
.slider_bgImage--active {
  right: 0;
  opacity: 1;
  transform: translateX(0);
}
