@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
fieldset {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  border-color: #ffffff45;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;

  box-sizing: border-box;
}
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.9);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.9);
}
button {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  padding: 0.25rem;
  border-color: #ffffff45;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.9);
}
.arrowBtn {
  border-radius: 50%;
  background: #ffffff45;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
button.arrowBtn svg {
  width: 25px !important;
  height: 25px;
}
.arrowBtn:hover {
  background: #33bb1163;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d364c;
  padding: 20px;
}
.header_wspase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_icon-hamburger {
  color: rgba(255, 255, 255, 0.27);
}

/* main */
main {
  position: relative;
  flex: 1;
}

/* left-panel */
.left-panel {
  background-color: #1d364c;
  width: 220px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 0.5s ease;
}
.left-panel.open {
  left: 0%;
}
.left-panel.close {
  left: -100%;
}

/* slider */
.silder {
  position: relative;
}
.silder:hover .silder_btn {
  opacity: 1;
  top: 50%;
  transition: all 0.5s ease;
}
.silder_btn {
  position: absolute;
  top: 30%;
  transform: translateY(50%);
  z-index: 1;
  opacity: 0;
}
.silder_btn--left {
  left: 0;
}
.silder_btn--right {
  right: 0;
}
.slider_wraper {
  position: relative;
  height: 30vw;
  overflow: hidden;
}
.slider_bgImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: 50% 20%;
  background-size: cover;
  transition: all 0.5s ease;
}
.slider_bgImage--active {
  right: 0;
  opacity: 1;
  transform: translateX(0);
}
